/* 
Project Created By: Ahmed Davis
Date: March 17, 2020
*/


/*******  Posts Page *******/
.post_nav{
    margin-top:20px;
    margin-bottom:20px;
}
.post_nav_link{
    color:white;
    text-decoration: none;
}
.postcard{
    margin-top:20px;
}